<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-block.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin-employee/admin-index.css">

</head>
<body>
<div class="main">

    <div class="nav-top">
        <a href="/employee/profile">
            <button><- To main page</button>
        </a>
        <a href="/admin/employees/register">
            <button>Register new employee</button>
        </a>
    </div>

    <h4 class="custom-heading">Current employees</h4>

    <hr style="width: 480px; margin-top: 30px; margin-bottom: 20px">

    <div class="employees" th:if="!${employees.isEmpty()}">
        <div class="employee" th:each="employee : ${employees}">
            <a class="employee-info" th:href="@{/admin/employees/{id}(id = ${employee.id}) }">
                <div class="employee-info-value" th:text="${employee.getFullName()}">name surname</div>
                <div id="username">Username:<span class="employee-info-value" th:text="${employee.credentials.username}">username</span></div>
            </a>
        </div>
    </div>

    <div class="error-message" th:if="${employees.isEmpty()}">No employees present</div>

    <nav class="pages" th:if="${pageConfig} != null">
        <div th:if="${pageConfig.pages.get(0)} != 1"><a href="/admin/employees?page=1">1</a>...</div>
        <div th:each="i : ${pageConfig.pages}">
            <a th:if="${i} != ${pageConfig.currentPage}" th:text="${i}" th:href="@{/admin/employees?page={i}(i = ${i}) }">page number</a>
            <div th:unless="${i} != ${pageConfig.currentPage}"
                 style="font-size:21px;font-weight: bolder; text-decoration-line: underline">|<a th:text="${i}" th:href="@{/admin/employees?page={i}(i = ${i}) }">page number</a>|
            </div>
        </div>
        <div th:if="${pageConfig.pages.get(pageConfig.pages.size()-1) != pageConfig.totalPages}">...<a
                th:href="@{/admin/employees?page={last}(last = ${pageConfig.totalPages}) }" th:text="${pageConfig.totalPages}"></a></div>
    </nav>
</div>
</body>
</html>