<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin-employee/edit-new.css">

    <style>
        .role {
            display: flex;
        }
    </style>
</head>

<body>

<div class="registration-form">
    <h1>Registration form</h1>
    <hr>
    <form th:action="@{/admin/employees/register}" th:method="POST" th:object="${employee}">
        <h2>Credentials</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <div th:if="${errorsCredentials} != null and ${errorsCredentials.getFieldError('username')} != null"
             th:text="${errorsCredentials.getFieldError('username').getDefaultMessage()}" class="error-message"> error
            message
        </div>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <div th:if="${errorsCredentials} != null and ${errorsCredentials.getFieldError('password')} != null"
             th:text="${errorsCredentials.getFieldError('password').getDefaultMessage()}" class="error-message"> error
            message
        </div>

        <div class="role">
            <label for="role">Role: </label>
            <select id="role" name="role">
                <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name().substring(5)}">role
                </option>
            </select>
        </div>

        <h2>Personal Info</h2>

        <label for="name">First Name:</label>
        <input th:field="*{name}" type="text" id="name" name="name" required>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"> error message</div>

        <label for="surname">Last Name:</label>
        <input th:field="*{surname}" type="text" id="surname" name="surname" required>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error-message"> error message</div>

        <label for="yearOfBirth">Year of Birth:</label>
        <input th:field="*{yearOfBirth}" type="number" id="yearOfBirth" name="yearOfBirth" required>
        <div th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}" class="error-message"> error
            message
        </div>

        <label for="phoneNumber">Phone Number:</label>
        <input th:field="*{phoneNumber}" type="tel" id="phoneNumber" name="phoneNumber" required>
        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error-message"> error
            message
        </div>

        <label for="email">Email:</label>
        <input th:field="*{email}" type="email" id="email" name="email" required>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"> error message</div>

        <p></p>
        <input type="submit" value="Register">

    </form>
</div>
</body>
</html>