<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit reader</title>
</head>
<body>
<a th:href="@{/people/{id}(id = ${person.getId()}) }"><button><- To reader page</button></a>
<fieldset>
    <legend>Edit reader</legend>
    <form th:object="${person}" th:method="PATCH" th:action="@{/people/{id}(id = ${person.getId()})}">

        <div style="display: inline-flex; margin: 20px; justify-content: space-between">
        <div>
            <label for="name">Name</label>
            <br>
            <label for="surname">Surname</label>
            <br>
            <label for="yearOfBirth">Year of birth</label>
        </div>
        <div>
            <input type="text" id="name" name="name" th:value="${person.getName()}">
            <br>
            <input type="text" id="surname" name="surname" th:value="${person.getSurname()}">
            <br>
            <input type="text" id="yearOfBirth" name="yearOfBirth" th:value="${person.getYearOfBirth()}">
        </div>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</fieldset>
</body>
</html>