<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}"></title>
    <style>
        .user {
            padding: 10px;
            margin: auto;
            font-weight: bolder;
            font-size: 21px;
        }

        .books {
            padding: 5px;
        }

        .info {
            margin: auto;
        }
        .book{
            width: 300px;
            margin-bottom: 8px;
            margin-left: 15px;
            text-decoration: none;
        }
        .book-info{
            font-weight: bolder;
        }
    </style>
</head>
<body>
<a href="/people">
    <button><- To main page</button>
</a>

<fieldset class="info">
    <legend>Reader</legend>

    <div class="user">
        <p th:text="${person.getFullName()} + ', ' + ${person.yearOfBirth}">name + surname, year of birth</p>
    </div>

    <hr>

        <legend>Books:</legend>
        <div class="books" th:each="book : ${books}" th:if="!${books.isEmpty()}">
            <fieldset th:if="${book.isOverdue}" style="background: rgba(173,55,55,0.43)" class="book">
                <a class="book-info" th:href="@{/books/{id}(id = ${book.id}) }" th:text="${book.title} + '; ' + ${book.author} + ';  ' + ${book.year}">title</a>
                <div style="text-decoration-line:underline ">The book is overdue!</div>
            </fieldset>
            <fieldset th:unless="${book.isOverdue}" class="book">
                <a class="book-info" th:href="@{/books/{id}(id = ${book.id}) }" th:text="${book.title} + '; ' + ${book.author} + ';  ' + ${book.year}">title</a>
            </fieldset>
        </div>

    <p th:unless="!${books.isEmpty()}">Reader has no books</p>
    <hr>
    <a th:href="@{{id}/edit (id = ${person.id}) }">
        <button>Edit</button>
    </a>
    </hr>
</fieldset>

<form th:method="DELETE" th:action="@{#}">
    <a>
        <button>Delete</button>
    </a>
</form>

</body>
</html>