<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control</title>
</head>
<style>
    .error{
        color: darkred;
    }
    .success{
        color:green;
    }
    .container{
        width:fit-content;
        display: flex;
        justify-content: space-between;
    }
    fieldset{
        display: flex;
        justify-content: center;
    }
</style>
<body>
<p><a href="/"><button><- To main page</button></a></p>
<p>-Select book, then select reader and press Submit button. Book will be set to reader.</p>
<form th:method="PATCH" th:action="@{/books/control}">
    <div class="container">
        <fieldset>
            <legend>Select book</legend>
                <select class="books" name="bookId" id="books">
                    <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}">book</option>
                </select>
        </fieldset>
        <fieldset>
            <legend>Select reader or Library</legend>
                <select class="readers" name="personId" id="readers">
                    <option value="0" >Library</option>
                    <option  th:each="person : ${people}" th:value="${person.id}" th:text="${person.getFullName()}">person</option>
                </select>
        </fieldset>
    </div>

    <p><button type="submit">Submit</button></p>

    <p class="error" th:if="${ownerError} != null" th:text="${ownerError}">error</p>
    <p class="success" th:if="${successMessage} != null" th:text="${successMessage}">success</p>


</form>


</body>
</html>