<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-block.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/index.css">

</head>
<body>
<div class="main">

    <div class="nav-top">
        <a href="/employee/profile">
            <button><- To main page</button>
        </a>
        <a href="books/new">
            <button>Add new book</button>
        </a>
    </div>

    <h4 class="custom-heading">Books</h4>
    <div class="title-sort">
        <form action="/books">
            <label for="sort">Sort by:</label>
            <select id="sort" name="sort_by">
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="year">Year</option>
            </select>
            <input type="hidden" name="page" th:value="${currentPage}">
            <button type="submit">Sort</button>
        </form>
        <a href="/books/search"><button>Search page</button></a>
    </div>

    <hr style="width: 480px; margin-top: 30px; margin-bottom: 20px">
    <div class="books">
        <div class="item" th:each="book : ${books}">
            <a class="item-info" th:href="@{/books/{id}(id = ${book.id}) }"
               th:text="${book.title} + '; ' + ${book.author} + ';  ' + ${book.year}">title</a>
            <br>
            <div class="owner-info" th:if="${book.hasOwner()}">
                Owner: <a th:text="${book.owner.getFullName()}" th:href="@{/people/{id}(id = ${book.owner.id})}">owner
                name</a>
            </div>
            <div class="owner-info" th:unless="${book.hasOwner()}">Book in <a href="/people/0">library</a></div>
        </div>
    </div>

    <div class="error-message" th:if="${books.isEmpty()}">No books found</div>

    <nav class="pages"  th:if="${pageConfig} != null">
        <div th:if="${pageConfig.pages.get(0)} != 1"><a href="/books?page=1">1</a>...</div>
        <div th:each="i : ${pageConfig.pages}">
            <a th:if="${i} != ${pageConfig.currentPage}" th:text="${i}" th:href="@{books?page={i}(i = ${i}) }">page number</a>
            <div th:unless="${i} != ${pageConfig.currentPage}" style="font-size:21px;font-weight: bolder; text-decoration-line: underline">
                |<a th:text="${i}" th:href="@{books?page={i}(i = ${i}) }">page number</a>|
            </div>
        </div>
        <div th:if="${pageConfig.pages.get(pageConfig.pages.size()-1) != pageConfig.totalPages}">...<a
                th:href="@{books?page={last}(last = ${pageConfig.totalPages}) }" th:text="${pageConfig.totalPages}"></a></div>
    </nav>
</div>
</body>
</html>