<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <style>
        fieldset{
            width:fit-content;
        }
        .error{
            color:darkred;
            margin-left: 5px;
        }
        .form{
            display: flex;
            flex-direction: column;
            padding: 5px;
        }
        .container{
            display: flex;
            justify-content: left;
            margin-bottom: 5px;
        }
        label{
            width:100px;
        }
    </style>
</head>
<body>
<a href="/books"><button><- To main page</button></a>
<fieldset>
    <legend>Add new Book</legend>
    <form th:object="${book}" th:method="POST" th:action="@{new}">

        <div class="form">
        <div class="container">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">message</span>
        </div>
        <div class="container">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
            <span class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">message</span>
        </div>
        <div class="container">
            <label for="year">Year</label>
            <input type="text" id="year" name="year">
            <span class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">message</span>
        </div>
        </div>
            <p>
        <button type="submit" class="submit-button">Submit</button>

    </form>
</fieldset>
</body>
</html>