<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/edit-new.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">

</head>
<body>
<div class="edition-form">
    <div class="buttons" id="top">
        <a href="/books"><button class="nav-top-buttons"><- To books page</button></a>
        <a href="/employee/profile"><button class="nav-top-buttons">To main page</button></a>
    </div>
    <h1>New book</h1>
    <form th:object="${book}" th:method="POST" th:action="@{new}">

        <label for="title">Title</label>
        <input type="text" id="title" name="title" th:value="${book.title}">
        <div class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">message</div>

        <label for="author">Author</label>
        <input type="text" id="author" name="author" th:value="${book.author}">
        <div class="error-message" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">message</div>

        <label for="year">Year</label>
        <input type="text" id="year" name="year" th:value="${book.year}">
        <div class="error-message" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">message</div>

        <p></p>
        <input type="submit" value="Submit">

    </form>
</div>
</body>
</html>