<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-block.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/search.css">

</head>
<style>
    .item{
        height: 70px;
    }
</style>
<body>
<div class="main">
    <div class="nav-top">
        <a href="/books"> <button><- to books page</button></a>
        <a href="/employee/profile"> <button> To main page </button></a>
    </div>
<h3 class="custom-heading">Search</h3>
    <form class="search-form" action="/books/search" method="get">
        <input placeholder="Search" id=search-input type="text" name="search_value" required th:value="${param.search_value}">

        <div>
            <label for="search-type">Search by: </label>
            <select id="search-type" name="search_by">
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="year">Year</option>
            </select>
        </div>

        <button type="submit">Search</button>
    </form>
    <hr style="width: 400px; margin: 25px">
    <div th:if="${books} != null">
        <div class="error-message" th:if="${books.isEmpty()}">Books not found</div>
        <div th:unless="${books.isEmpty()}">
            <div class="item" th:each="book : ${books}">
                <a class="item-info" th:href="@{/books/{id}(id = ${book.id}) }" th:text="${book.title} + '; ' + ${book.author} + ';  ' + ${book.year}">title</a>
                <br>
                <div class="owner-info" th:if="${book.hasOwner()}">
                    Owner: <a th:text="${book.owner.getFullName()}" th:href="@{/people/{id}(id = ${book.owner.id})}">owner name</a>
                </div>
                <div class="owner-info" th:unless="${book.hasOwner()}">Book in <a href="/people/0">library</a></div>
            </div>
        </div>
    </div>

    <nav class="pages" th:if="${pageConfig} != null">
        <div th:if="${pageConfig.pages.get(0)} != 1"><a th:href="@{/books/search?page=1&search_value={sv}&search_by={sb}(sv = ${param.search_value}, sb = ${param.search_by}) }">1</a>...</div>
        <div th:each="i : ${pageConfig.pages}">
            <a th:if="${i} != ${pageConfig.currentPage}" th:text="${i}" th:href="@{/books/search?page={i}&search_value={sv}&search_by={sb}(i = ${i}, sv = ${param.search_value}, sb = ${param.search_by}) }">page number</a>
            <div th:unless="${i} != ${pageConfig.currentPage}" style="font-size:21px;font-weight: bolder; text-decoration-line: underline">
                |<a th:text="${i}" th:href="@{/books/search?page={i}&search_value={sv}&search_by={sb}(i = ${i}, sv = ${param.search_value}, sb = ${param.search_by}) }">page number</a>|
            </div>
        </div>
        <div th:if="${pageConfig.pages.get(pageConfig.pages.size()-1) != pageConfig.totalPages}">...<a
                th:href="@{/books/search?page={last}&search_value={sv}&search_by={sb}(last = ${pageConfig.totalPages}, sv = ${param.search_value}, sb = ${param.search_by}) }" th:text="${pageConfig.totalPages}"></a></div>
    </nav>
</div>
</body>
</html>