<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Information Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/show.css">

</head>
<style>
    .book-title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }
    .book-author {
        font-size: 16px;
        color: #555;
    }
    .book-year {
        font-size: 16px;
        color: #555;
    }
    .book-owner {
        font-size: 16px;
        color: #555;
        margin-bottom: 30px;
    }
    .owner-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }
</style>
<body>
<div class="item-info">
    <div class="buttons" id="top">
        <a th:href="@{/books?page={page}(page = ${param.page}) }"><button class="nav-top-buttons"><- To books list page</button></a>
        <a href="/employee/profile"><button class="nav-top-buttons">To main page</button></a>
    </div>
    <h2 class="book-title">Title: "<span th:text="${book.title}">title</span>"</h2>
    <p class="book-author">Author: <span th:text="${book.author}">author</span></p>
    <p class="book-year">Year of Publication: <span th:text="${book.year}">year</span></p>
    <hr>
    <div class="book-owner">
        <div class="owner-info" th:if="${book.owner != null}">
            <p>Owner:<span><a th:text="${ownerName}" th:href="@{/people/{id}(id = ${ownerId})}">owner name</a></span></p>
            <form th:method="PATCH" th:action="@{/books/control}" th:if="${book.owner != null}">
                <input type="hidden" name="bookId" th:value="${book.id}">
                <input type="hidden" name="personId" value="0">
                <button class="edit-button">Return to library</button>
            </form>
        </div>

        <div class="owner-info" th:unless="${book.owner != null}">
        <div>Book in library</div>
        <a th:href="@{/books/control?bookId={id}(id = ${book.id}) }"><button class="edit-button">Set new owner</button></a>
        </div>
    </div>
    <hr>
    <div class="buttons">
        <a th:href="@{{id}/edit?page={page}(id = ${book.id}, page = ${param.page}) }"><button class="edit-button">Edit</button></a>
        <form th:method="DELETE" th:action="@{#}">
            <a><button class="delete-button">Delete</button></a>
        </form>
    </div>
</div>
</body>
</html>