<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit book</title>
  <style>
    fieldset{
      width:fit-content;
    }
    .error{
      color:darkred;
      margin-left: 5px;
    }
    .form{
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    .container{
      display: flex;
      justify-content: left;
      margin-bottom: 5px;
    }
    label{
      width:100px;
    }
  </style>
</head>
<body>
<a th:href="@{/books/{id}?page={page}(id = ${book.id}, page = ${param.page}) }"><button><- To book page</button></a>
<fieldset>
  <legend>Edit book</legend>
  <form th:object="${book}" th:method="PATCH" th:action="@{/books/{id}(id = ${book.id})}">

    <div class="form">
      <div class="container">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" th:value="${book.title}">
        <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">message</span>
      </div>
      <div class="container">
        <label for="author">Author</label>
        <input type="text" id="author" name="author" th:value="${book.author}">
        <span class="error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">message</span>
      </div>
      <div class="container">
        <label for="year">Year</label>
        <input type="text" id="year" name="year" th:value="${book.year}"

        >
        <span class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">message</span>
      </div>
    </div>
    <p>
      <button type="submit" class="submit-button">Submit</button>

  </form>
</fieldset>
</body>
</html>