<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit book</title>
</head>
<body>
<a th:href="@{/books/{id}(id = ${book.getId()}) }"><button><- To book page</button></a>
<fieldset>
  <legend>Edit book</legend>
  <form th:object="${book}" th:method="PATCH" th:action="@{/books/{id}(id = ${book.getId()})}">

    <div style="display: inline-flex; margin: 20px; justify-content: space-between">
      <div>
        <label for="title">Title</label>
        <br>
        <label for="author">Author</label>
        <br>
        <label for="year">Year</label>
      </div>
      <div>
        <input type="text" id="title" name="title" th:value="${book.getTitle()}">
        <br>
        <input type="text" id="author" name="author" th:value="${book.getAuthor()}">
        <br>
        <input type="text" id="year" name="year" th:value="${book.getYear()}">
      </div>
    </div>
    <br>
    <button type="submit">Submit</button>
  </form>
</fieldset>
</body>
</html>