<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin-employee/profile.css">
</head>

<body>
<div class="header">
    <div class="header-buttons">
        <div class="dropdown">
            <button class="dropdown-button">Books</button>
            <div class="dropdown-content">
                <a href="/books">Books list</a>
                <a href="/books/search">Books search</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-button" id="readers-button">Readers</button>
            <div class="dropdown-content">
                <a href="/people">Readers list</a>
                <a href="/people/search">Readers search</a>
            </div>
        </div>
        <a href="/books/control"><button class="dropdown-button">Manage</button></a>
        <a href="/people/0"><button class="dropdown-button">Library storage</button></a>
        <a th:if="${role} eq 'ADMIN'" href="/admin/employees">
            <button class="dropdown-button">Admin panel</button>
        </a>
    </div>
    <form th:method="POST" th:action="@{/auth/logout}">
        <a><button class="logout-button">Logout</button></a>
    </form>
</div>
<div class="profile-block">
    <h2>Employee Profile</h2>
    <div class="profile-info">
        <span>Name:</span>
        <div th:text="${employee.name}">Name</div>
    </div>
    <div class="profile-info">
        <span>Surname:</span>
        <div th:text="${employee.surname}">Surname</div>
    </div>
    <div class="profile-info">
        <span>Year of Birth:</span>
        <div th:text="${employee.yearOfBirth}">Year of birth</div>
    </div>
    <div class="profile-info">
        <span>Email:</span>
        <div th:text="${employee.email}">Email</div>
    </div>
    <div class="profile-info">
        <span>Phone Number:</span>
        <div th:text="${employee.phoneNumber}">Phone number</div>
    </div>
    <div class="profile-info">
        <span>Role:</span>
        <div th:text="${role}"></div>
    </div>

    <p></p>
    <a href="/employee/edit"><button class="edit-button">Edit personal information</button></a>
</div>
</body>

</html>
