<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit reader</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/edit-new.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">

</head>
<body>
<div class="edition-form">
    <div class="buttons" id="top">
        <a th:href="@{/people/{id}?page={page}(id = ${person.id}, page = ${param.page}) }"><button class="nav-top-buttons"><- To reader</button></a>
        <a href="/employee/profile"><button class="nav-top-buttons">To main page</button></a>
    </div>
    <h1>Edit</h1>
    <form th:object="${person}" th:method="PATCH" th:action="@{/people/{id}(id = ${person.id})}">

                <label for="name">Name</label>
                <input type="text" id="name" name="name" th:value="${person.name}">
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">message</div>

                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" th:value="${person.surname}">
                <div class="error-message" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">message</div>

                <label for="yearOfBirth">Year of birth</label>
                <input type="text" id="yearOfBirth" name="yearOfBirth" th:value="${person.yearOfBirth}">
                <div class="error-message" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">message</div>
        <p></p>
        <input type="submit" value="Submit">

    </form>
</div>
</body>
</html>