<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Readers</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-block.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/index.css">

</head>
<style>
    .item {
        width: 400px;
        height: 30px;
        padding-top: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
        padding-left: 15px;
        border-radius: 5px;
        box-shadow: gray 0 0 5px;
        font-size: 19px;
        font-family: "Arial", sans-serif;
    }
</style>
<body>
<div class="main">

    <div class="nav-top">
        <a href="/employee/profile">
            <button><- To main page</button>
        </a>
        <a href="people/new">
            <button>Add new reader</button>
        </a>
    </div>

    <h4 class="custom-heading">Readers</h4>

    <hr style="width: 480px; margin-top: 30px; margin-bottom: 20px">
    <div class="readers">
        <div class="item" th:each="reader : ${people}">
            <a class="item-info" th:href="@{/people/{id}(id = ${reader.id}) }"
               th:text="${reader.getFullName() + ', ' + reader.yearOfBirth}">Name</a>
            <br>
        </div>
    </div>

    <div class="error-message" th:if="${people.isEmpty()}">No readers found</div>

    <nav class="pages"  th:if="${pageConfig} != null">
        <div th:if="${pageConfig.pages.get(0)} != 1"><a href="/people?page=1">1</a>...</div>
        <div th:each="i : ${pageConfig.pages}">
            <a th:if="${i} != ${pageConfig.currentPage}" th:text="${i}" th:href="@{people?page={i}(i = ${i}) }">page number</a>
            <div th:unless="${i} != ${pageConfig.currentPage}"
                 style="font-size:21px;font-weight: bolder; text-decoration-line: underline">|<a th:text="${i}" th:href="@{people?page={i}(i = ${i}) }">page number</a>|
            </div>
        </div>
        <div th:if="${pageConfig.pages.get(pageConfig.pages.size()-1) != pageConfig.totalPages}">...<a
                th:href="@{people?page={last}(last = ${pageConfig.totalPages}) }" th:text="${pageConfig.totalPages}"></a></div>
    </nav>
</div>
</body>
</html>