<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New reader</title>
</head>
<style>
    fieldset{
        width:fit-content;
    }
    .error{
        color:darkred;
        margin-left: 5px;
    }
    .form{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .container{
        display: flex;
        justify-content: left;
        margin-bottom: 5px;
    }
    label{
        width:100px;
    }
</style>
<body>
<a href="/people"><button><- To readers list page</button></a>
<fieldset>
    <legend>Create reader</legend>
    <form th:object="${person}" th:method="POST" th:action="@{/people/new}">

        <div class="form">
            <div class="container">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">message</span>
            </div>
            <div class="container">
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" >
                <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">message</span>
            </div>
            <div class="container">
                <label for="yearOfBirth">Year of birth</label>
                <input type="text" id="yearOfBirth" name="yearOfBirth">
                <span class="error" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">message</span>
            </div>
        </div>
        <br>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</fieldset>

</body>
</html>