<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/pages-block.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/error-message.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/books-readers/search.css">

</head>
<body>
<div class="main">
    <div class="nav-top">
        <a href="/people"> <button><- To readers page</button></a>
        <a href="/employee/profile"> <button> To main page </button></a>
    </div>
<h3 class="custom-heading">Search</h3>
    <form class="search-form" action="/people/search" method="get">
        <input placeholder="Search" id=search-input type="text" name="search_value" required th:value="${param.search_value}">

        <div>
            <label for="search-type">Search by: </label>
            <select id="search-type" name="search_by">
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="year_of_birth">Year of birth</option>
            </select>
        </div>

        <button type="submit">Search</button>
    </form>
    <hr style="width: 400px; margin: 25px">
    <div th:if="${people} != null">
        <div  class="error-message" th:if="${people.isEmpty()}">Readers not found</div>
        <div th:unless="${people.isEmpty()}">
            <div class="item" th:each="person : ${people}">
                <a class="item-info" th:href="@{/people/{id}(id = ${person.id}) }" th:text="${person.getFullName() + ', ' + person.yearOfBirth}">name</a>
                <br>
            </div>
        </div>
    </div>

    <nav class="pages" th:if="${pageConfig} != null">
        <div th:if="${pageConfig.pages.get(0)} != 1"><a th:href="@{/people/search?page=1&search_value={sv}&search_by={sb}(sv = ${param.search_value}, sb = ${param.search_by}) }">1</a>...</div>
        <div th:each="i : ${pageConfig.pages}">
            <a th:if="${i} != ${pageConfig.currentPage}" th:text="${i}" th:href="@{/people/search?page={i}&search_value={sv}&search_by={sb}(i = ${i}, sv = ${param.search_value}, sb = ${param.search_by}) }">page number</a>
            <div th:unless="${i} != ${pageConfig.currentPage}" style="font-size:21px;font-weight: bolder; text-decoration-line: underline">
                |<a th:text="${i}" th:href="@{/people/search?page={i}&search_value={sv}&search_by={sb}(i = ${i}, sv = ${param.search_value}, sb = ${param.search_by}) }">page number</a>|
            </div>
        </div>
        <div th:if="${pageConfig.pages.get(pageConfig.pages.size()-1) != pageConfig.totalPages}">...<a
                th:href="@{/people/search?page={last}&search_value={sv}&search_by={sb}(last = ${pageConfig.totalPages}, sv = ${param.search_value}, sb = ${param.search_by}) }" th:text="${pageConfig.totalPages}"></a></div>
    </nav>
</div>
</body>
</html>