<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 Server error</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/errors/default-error.css">
</head>

<body>
<div class="error-container">
  <div class="error-title"><span class="error-code">403</span> - Access denied</div>
  <div class="error-message">We're sorry, but you do not have access to reach this address.</div>
  <a href="/" class="go-back-button">Go Back to Home</a>
</div>
</body>

</html>
