<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link type="text/css" rel="stylesheet" href="../static/css/main-index.css">
</head>

<body>
<div class="container">
    <h1>Welcome to Library Management System</h1>
    <p>To proceed, please log in using your manager credentials.</p>
    <div class="login-button-container">
        <a href="employee/profile" class="login-button">Next</a>
    </div>
</div>
</body>

</html>
